# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/logs/
levi-framework-common/src/main/resources/static/
levi-framework-common/src/main/resources/templates/
levi-framework-model/src/main/resources/static/
levi-framework-model/src/main/resources/templates/
levi-framework-utils/src/main/java/com/levi/springboot/utils/
levi-framework-utils/src/main/resources/static/
levi-framework-utils/src/main/resources/templates/
levi-govern-center/src/main/resources/static/
levi-govern-center/src/main/resources/templates/
levi-service-api/src/main/resources/static/
levi-service-api/src/main/resources/templates/
levi-service-manage-cms/src/main/resources/static/
levi-service-manage-cms/src/main/resources/templates/
