<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <property name="LOG_HOME" value="d:/logs"/>
    <Appenders>
        <Console name="consolelog" target="SYSTEM_OUT">
            <PatternLayout pattern="%d - %m%n" />
        </Console>

        <RollingRandomAccessFile name="fileInfoLog" fileName="${LOG_HOME}/log_info.log" immediateFlush="true"
                                 filePattern="logs/log_info.log.%d{yyyy-MM-dd-HH}-%i.gz">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
            <PatternLayout>
                <pattern>%d - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="512 MB" />
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="error" fileName="${LOG_HOME}/log_error.log" immediateFlush="true"
                                 filePattern="logs/log_error.log.%d{yyyy-MM-dd-HH}-%i.gz">
            <Filters>
                <ThresholdFilter level="ERROR"/>
            </Filters>

            <PatternLayout>
                <pattern>%d - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="512 MB" />
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="LOG_COMMUNICATION" fileName="${LOG_HOME}/communication/log_communication.log"
                                 immediateFlush="true"
                                 filePattern="${LOG_HOME}/communication/log_communication.log.%d{yyyy-MM-dd-HH}-%i.gz">
            <PatternLayout>
                <Pattern>%d - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="512 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <root level="info">
            <appender-ref ref="consolelog"/>
            <appender-ref ref="error" />
        </root>
    </Loggers>

</Configuration>